#!/bin/bash

# brew
alias b="brew"
alias bc="brew cleanup"
alias bd="brew doctor"
alias bh="brew help"
alias bi="brew install"
alias bic="brew install --cask"
alias bl="brew list"
alias blg="brew list | grep"
alias bs="brew services"
alias bsl="brew services list"
alias bt="brew tap"
alias bu="brew uninstall"
alias buc="brew uninstall --cask"
alias buu="brew update && brew upgrade && brew cleanup"

# composer
alias c="composer"
alias cda="composer dump-autoload"
alias cg="composer global"
alias ci="composer install"
alias co="composer outdated"
alias cr="composer require"
alias cu="composer uninstall"
alias cv="composer --version"

# directory
alias cd-="cd -"
alias cd..="cd .."
alias cdbin="cd /usr/local/bin"
alias cdbit="cd ~/Repos/bitbucket.org"
alias cdhub="cd ~/Repos/github.com"
alias cdlab="cd ~/Repos/gitlab.com"
alias ll="ls -lah"
alias o="open ."
alias obb="open ~/Library/Mobile\ Documents/com~apple~ScriptEditor2/Documents/Brave\ Browser\ Private.app"
alias obc="open ~/Library/Mobile\ Documents/com~apple~ScriptEditor2/Documents/Google\ Chrome\ Incognito.app"

# docker
alias d="docker"
alias db="docker build"
alias dc="docker compose"
alias dcb="docker compose build"
alias dcd="docker compose down"
alias dce="docker compose exec"
alias dcl="docker ps"
alias dcr="docker compose run"
alias dcu="docker compose up"
alias dcud="docker compose up -d"
alias dex="docker exec -it"
alias dil="docker images"
alias dir="docker image rm"
alias dk="docker kill"
alias dnl="docker network ls"
alias dp="docker push"
alias dr="docker rm"
alias ds="docker stop"
alias dsp="docker system prune -af"
alias dv="docker volume"

# git
alias ga="git add ."
alias gb="git branch"
alias gc-="git checkout -"
alias gc="git commit"
alias gca="git commit -n --amend --no-edit"
alias gcb="git checkout -b"
alias gcd="git checkout develop"
alias gcf="git clean -f"
alias gcm="git checkout master"
alias gcp="git checkout -"
alias gd="git diff"
alias gfo="git fetch origin develop:develop"
alias gfp="git push --force-with-lease"
alias gl="git log --graph --oneline --decorate"
alias gm="git merge"
alias gma="git merge --abort"
alias gp="git pull"
alias gra="git rebase --abort"
alias grc="git rebase --continue"
alias grd="git rebase -i develop"
alias grh="git reset --hard"
alias gs="git status"
alias gsc="git stash clear"
alias gsd="git stash drop"
alias gsl="git stash list"
alias gsp="git stash pop"

# grep
alias grep="grep --color=auto"

# helm
alias h="helm"
alias hc="helm create"
alias hg="helm get"
alias hi="helm install"
alias hid="helm install --debug --dry-run"
alias hl="helm lint"
alias hp="helm package"
alias hs="helm search"
alias hu="helm uninstall"

# history
alias hg="history | grep"

# ip
alias ip4="dig @resolver1.opendns.com A myip.opendns.com +short -4"
alias ip6="dig @resolver1.opendns.com AAAA myip.opendns.com +short -6"

# kubernetes
alias k="kubectl"
alias ka="kubectl apply"
alias kc="kubectl create"
alias kcg="kubectl config get-contexts"
alias kcu="kubectl config use-context"
alias kd="kubectl describe"
alias ked="kubectl edit"
alias kex="kubectl exec -it"
alias kg="kubectl get"
alias kgi="kubectl get ingress"
alias kgn="kubectl get nodes"
alias kgp="kubectl get pods"
alias kgs="kubectl get services"
alias kp="kubectl proxy"
alias kr="kubectl rollout"
alias ks="kubectl scale"
alias kt="kubectl top"

# minikube
alias mk="minikube"
alias mka="minikube addons"
alias mks="minikube service"

# node
alias nv="node -v"

# npm
alias naf="npm audit fix"
alias nc="npm ci"
alias ncc="npm cache clean --force"
alias ng="npm list --global --depth=0"
alias nh="npm home"
alias ni="npm install"
alias nid="npm install --save-dev"
alias nig="npm install --global"
alias no="npm outdated"
alias nr="npm repo"
alias nrb="npm run build"
alias nrd="npm run dev"
alias nrl="npm run lint"
alias nrp="npm run prod"
alias nrs="npm run serve"
alias nrsb="npm run ssr:build"
alias nrss="npm run ssr:serve"
alias nrst="npm run start"
alias nrt="npm run test"
alias nrw="npm run watch"

# php
alias pa="php artisan"
alias pamc="php artisan make:component"
alias pamm="php artisan make:model"
alias pams="php artisan make:seeder"
alias pamt="php artisan make:test"
alias pasi="php artisan sail:install"
alias pat="php artisan test"
alias pv="php --version"

# sail
alias sail="[ -f sail ] && bash sail || bash ./vendor/bin/sail"

# sublime text
alias sta="st ~/.dotfiles/.aliases"
alias stc="st ~/.ssh/config"
alias ste="st ~/.dotfiles/.exports"
alias stf="st ~/.dotfiles/.functions"
alias sth="st /etc/hosts"
alias stq="st ~/.quokka/config.json"
alias sts="st /etc/shells"
alias stz="st ~/.dotfiles/.zshrc"
alias stzh="st ~/.zsh_history"

# vscode
alias vs="code ."

# yarn
alias yb="yarn build"
alias yd="yarn dev"
alias yg="yarn global list"
alias ys="yarn serve"
