#!/bin/bash

export ARCH=$(uname -m)
export CLICOLOR=1
export CLOUDSDK_PYTHON=/usr/local/opt/python@3.8/libexec/bin/python
export GOPATH=$HOME/go
export GOBIN=$GOPATH/bin
export HOMEBREW_NO_ANALYTICS=1
export HOST_UID=$(id -u)
export NVM_AUTOLOAD=1
export CARGO_HOME=$HOME/.cargo
export RUSTUP_HOME=$HOME/.rustup
export PATH=$CARGO_HOME/bin:$PATH
export PATH=$GOBIN:$PATH
export PATH=$HOME/.composer/vendor/bin:$PATH
export PATH=$HOME/.jenv/bin:$PATH
export PATH=/usr/local/lib/ruby/gems/2.7.0/bin:$PATH
export PATH=/usr/local/opt/openjdk/bin:$PATH
export PATH=/usr/local/opt/ruby/bin:$PATH
export PATH=/usr/local/sbin:$PATH
