#!/bin/bash

# constants
export ARCH=$(uname -m)
[[ $ARCH == "arm64" ]] &&
    export CPU="Apple silicon" &&
    export HOMEBREW_PREFIX=/opt/homebrew &&
    export HOMEBREW_REPOSITORY=$HOMEBREW_PREFIX
[[ $ARCH == "x86_64" ]] &&
    export CPU="Intel" &&
    export HOMEBREW_PREFIX=/usr/local &&
    export HOMEBREW_REPOSITORY=$HOMEBREW_PREFIX/Homebrew
export HOMEBREW_FORCE_BREWED_CURL=1
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_CELLAR=$HOMEBREW_PREFIX/Cellar
export PAGER=/usr/bin/less
export CLICOLOR=1
export DOTNET_ROOT=$HOMEBREW_PREFIX/opt/dotnet/libexec
export HOST_UID=$(id -u)
export USERNAME=$(whoami)
export NAME=$(eval "dscl . -read "/Users/$(whoami | awk '{print $1}')" RealName | sed -n 's/^ //g;2p'")
export NAME_ARRAY=($NAME)
export NAME_ARRAY_LENGTH=${#NAME_ARRAY[@]}
export FIRST_NAME="Jedi"
export LAST_NAME="Master"
[[ $NAME_ARRAY_LENGTH -eq 2 ]] &&
    export FIRST_NAME=${NAME_ARRAY[0]} &&
    export LAST_NAME=${NAME_ARRAY[1]}
export NVM_AUTOLOAD=1
export BUN_INSTALL=$HOME/.bun
export GOPATH=$HOME/go
export GOBIN=$GOPATH/bin
export CARGO_HOME=$HOME/.cargo
export RUSTUP_HOME=$HOME/.rustup
export PYENV_ROOT=$HOME/.pyenv
export PNPM_HOME=$HOME/Library/pnpm
export GLAB_SEND_TELEMETRY=false
export GPG_TTY=$(tty)
export ANDROID_HOME=$HOME/Library/Android/sdk
export RBENV_HOME=$HOME/.rbenv

# paths
export PATH=$BUN_INSTALL/bin:$PATH
export PATH=$CARGO_HOME/bin:$PATH
export PATH=$GOBIN:$PATH
export PATH=$PYENV_ROOT/bin:$PATH
export PATH=$PYENV_ROOT/shims:$PATH
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.composer/vendor/bin:$PATH
export PATH=$HOME/.jenv/bin:$PATH
export PATH=$RBENV_HOME/bin:$PATH
export PATH=$RBENV_HOME/versions/$(cat $RBENV_HOME/version)/bin:$PATH
export PATH=$HOME/flutter/bin:$PATH
export PATH=${KREW_ROOT:-$HOME/.krew}/bin:$PATH
export PATH=$HOMEBREW_PREFIX/bin:$HOMEBREW_PREFIX/sbin:$PATH
export PATH=$HOMEBREW_PREFIX/opt/curl/bin:$PATH
export PATH=$HOMEBREW_PREFIX/opt/openjdk/bin:$PATH
export PATH=$HOMEBREW_PREFIX/opt/postgresql@17/bin:$PATH
export PATH=$HOMEBREW_PREFIX/opt/rustup/bin:$PATH
export PATH=$PNPM_HOME:$PATH
