#!/usr/bin/env zsh

auto_switch_node_version() {
    if [[ -f .nvmrc ]]; then
        CURRENT_NODE_VERSION=$(fnm current)
        REQUESTED_NODE_VERSION=v$(cat .nvmrc)
        MAJOR_RELEASE=${CURRENT_NODE_VERSION:0:${#REQUESTED_NODE_VERSION}}
        if [[ $REQUESTED_NODE_VERSION != $MAJOR_RELEASE ]]; then
            fnm use >/dev/null 2>&1 || fnm install
        fi
    fi
}

auto_update_quokka_node_path() {
    if [[ -f ~/.quokka/config.json ]]; then
        CURRENT_NODE_PATH=$(which node)
        QUOKKA_NODE_PATH=$(cat ~/.quokka/config.json | jq '.node' | xargs)
        if [[ $CURRENT_NODE_PATH != $QUOKKA_NODE_PATH ]]; then
            CONFIG_JSON="$(jq --arg node_path "$CURRENT_NODE_PATH" '.node = $node_path' ~/.quokka/config.json)" &&
                echo $CONFIG_JSON >~/.quokka/config.json
        fi
    fi
}

kubernetes_context_and_namespace() {
    echo "  Context: ${_Y}$(krc)${RS}\nNamespace: ${_Y}$(krn)${RS}"
}

preexec_timestamp() {
    echo "${G}\U21B3${RS} ${_Y}${1}${RS} ${B}@${RE} ${G}$(date '+%Y-%m-%d %H:%M:%S')${RS}"
}

# https://zsh.sourceforge.io/Doc/Release/Functions.html
# add-zsh-hook chpwd auto_update_quokka_node_path
add-zsh-hook preexec preexec_timestamp
