#!/usr/bin/env zsh

preexec () {
  echo "\U21B3 \033[1;4;33m${1}\033[0m run on \033[32m`date "+%Y-%m-%d %H:%M:%S"`\033[0m"
}

auto_switch_node_version () {
  if [[ -f .nvmrc ]]; then
    CURRENT_NODE_VERSION=$(fnm current)
    REQUESTED_NODE_VERSION=v$(cat .nvmrc)
    MAJOR_RELEASE=${CURRENT_NODE_VERSION:0:${#REQUESTED_NODE_VERSION}}
    if [[ $REQUESTED_NODE_VERSION != $MAJOR_RELEASE ]]; then
      fnm use > /dev/null 2>&1 || fnm install
    fi
  fi
}

auto_update_quokka_node_path () {
  if [[ -f ~/.quokka/config.json ]]; then
    CURRENT_NODE_PATH=$(which node)
    QUOKKA_NODE_PATH=$(cat ~/.quokka/config.json | jq '.node' | xargs)
    if [[ $CURRENT_NODE_PATH != $QUOKKA_NODE_PATH ]]; then
      CONFIG_JSON="$(jq --arg node_path "$CURRENT_NODE_PATH" '.node = $node_path' ~/.quokka/config.json)" && \
      echo $CONFIG_JSON > ~/.quokka/config.json
    fi
  fi
}

add-zsh-hook chpwd auto_switch_node_version
add-zsh-hook chpwd auto_update_quokka_node_path
