# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env*
!.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# pi coding agent
**/node_modules/
agent/*
!agent/settings.json
!agent/tsconfig.json
!agent/package.json
!agent/themes/
!agent/themes/*.json
!agent/extensions/
!agent/extensions/**
!agent/mcp.json
